<?xml version="1.0" encoding="UTF-8"?>
<plugin id="es.seogirona.cordova.apns.push" version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0">

  <name>es.seogirona.cordova.apns.push</name>
  <description>APNs Push Notifications for Cordova iOS (no Firebase)</description>
  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=8.0.0" />
    <engine name="cordova-ios" version=">=5.0.0" />
  </engines>

  <js-module src="www/PushNotification.js" name="PushNotification">
    <clobbers target="PushNotification"/>
  </js-module>

  <platform name="ios">
    <preference name="APNS_ENV" default="development"/>

    <config-file target="config.xml" parent="/*">
      <feature name="APNSPush">
        <param name="ios-package" value="APNSPush"/>
      </feature>
    </config-file>

    <header-file src="src/ios/APNSPush.h"/>
    <source-file src="src/ios/APNSPush.m"/>
    <header-file src="src/ios/APNSPush+Swizzle.h"/>
    <source-file src="src/ios/APNSPush+Swizzle.m"/>

    <config-file target="*-Info.plist" parent="NSUserNotificationUsageDescription">
      <string>This app uses notifications to keep you informed.</string>
    </config-file>

    <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>remote-notification</string>
      </array>
    </config-file>
  </platform>

</plugin>
